<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="page">
    <h2 class="title"> Edit Chat</h2>

    <div class="form-card">
        <p class="info">
            From <b><%= chat.from %></b> to <b><%= chat.to %></b>
        </p>

        <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
            <textarea name="msg" class="input"><%= chat.msg %></textarea>
            <button class="btn save-btn">Save Changes</button>
        </form>
    </div>
</div>

</body>
</html>
