<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="page">
    <h2 class="title"> New Chat</h2>

    <div class="form-card">
        <form method="POST" action="/chats">

            <input class="input" name="from" placeholder="Your name">

            <textarea class="input" name="msg" placeholder="Type message..."></textarea>

            <input class="input" name="to" placeholder="Receiver name">

            <button class="btn save-btn">Create Chat</button>

        </form>
    </div>
</div>

</body>
</html>
